infrastructure/environments/cloudformation/full/la/triggered_job.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Lambda to trigger One-off Dagster Job through ECS


Parameters:
  DagitServiceName:
    Type: String
    Description: Name for the Dagit Service
  DagitServiceARN:
    Type: String
    Description: ARN for the Dagit Service
  ECSClusterName:
    Type: String
    Description: Name for the ECS Dagster Service
  OrganisationName:
    Type: String
    Description: Name of the organisation running this service
  ProjectName:
    Type: String
    Description: Name of the application
    Default: fons
  LambdaCodeBucket:
    Type: String
    Description: Name of the bucket that stores the lambda code
  SubnetIds:
    Type: CommaDelimitedList
    Description: The Subnet IDs for the Lambda Function
  SecurityGroupIds:
    Type: CommaDelimitedList
    Description: The Security Group IDs for the Lambda Function
  PrivateServiceDiscoveryNamespace:
    Type: String
    Description: Namespace for private network.
    Default: my-namespace.local

Resources:
  TriggerDagsterJobLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: 'sts:AssumeRole'
      Policies:
        - PolicyName: TriggerDagsterJobPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ecs:UpdateService
                Resource:
                  - !Ref DagitServiceARN
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole

  TriggerDagsterJobLambda:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: trigger-dagster-job.zip
      Role: !GetAtt TriggerDagsterJobLambdaRole.Arn
      Handler: handler.lambda_handler
      Runtime: python3.13
      Timeout: 180
      VpcConfig:
        SubnetIds: !Ref SubnetIds
        SecurityGroupIds: !Ref SecurityGroupIds
      Environment:
        Variables:
          ECS_CLUSTER_NAME: !Ref ECSClusterName
          ECS_DAGIT_SERVICE_NAME: !Ref DagitServiceName
          PRIVATE_NAMESPACE: !Ref PrivateServiceDiscoveryNamespace

  ScheduleDagsterRunScheduleGroup:
    Type: AWS::Scheduler::ScheduleGroup
    Properties:
      Name: !Sub '${ProjectName}-${OrganisationName}-TriggerDagsterScheduleGroup'

  ScheduleDagsterRunRole:
    # Role to allow Step Function to create schedules in EventBridge Scheduler
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: CreateDagsterSchedules
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - scheduler:CreateSchedule
                  - scheduler:GetSchedule
                  - scheduler:DeleteSchedule
                Resource:
                  - !Sub 'arn:aws:scheduler:${AWS::Region}:${AWS::AccountId}:schedule-group/${ScheduleDagsterRunScheduleGroup}'
                  - !Sub 'arn:aws:scheduler:${AWS::Region}:${AWS::AccountId}:schedule/${ScheduleDagsterRunScheduleGroup}/*'
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource: !GetAtt EventBridgeSchedulerExecutionRole.Arn
                Condition:
                  StringEquals:
                    iam:PassedToService: scheduler.amazonaws.com

  EventBridgeSchedulerExecutionRole:
    # Role to allow EventBridge Scheduler to invoke the lambda
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - scheduler.amazonaws.com
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: TriggerDagsterLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt TriggerDagsterJobLambda.Arn

  ScheduleDagsterRunStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: ScheduleDagsterRun
      RoleArn: !GetAtt ScheduleDagsterRunRole.Arn
      DefinitionString:
        Fn::Sub: |
          {
            "Comment": "Create a one-time Dagster schedule",
            "StartAt": "ValidateInput",
            "States": {
              "ValidateInput": {
                "Type": "Choice",
                "Choices": [
                  {
                    "And": [
                      {
                        "Variable": "$.dataset",
                        "IsPresent": true
                      },
                      {
                        "Variable": "$.day",
                        "IsPresent": true
                      },
                      {
                        "Variable": "$.time",
                        "IsPresent": true
                      },
                      {
                        "Variable": "$.day",
                        "StringMatches": "****-**-**"
                      },
                      {
                        "Variable": "$.time",
                        "StringMatches": "**:**"
                      }
                    ],
                    "Next": "CreateSchedule"
                  }
                ],
                "Default": "InvalidInput"
              },
              "CreateSchedule": {
                "Type": "Task",
                "Resource": "arn:aws:states:::aws-sdk:scheduler:createSchedule",
                "Parameters": {
                  "Name.$": "States.Format('dagster-{}', $$.Execution.Name)",
                  "GroupName": "${ProjectName}-${OrganisationName}-TriggerDagsterScheduleGroup",
                  "ScheduleExpression.$":
                    "States.Format('at({}T{}:00)', $.day, $.time)",
                  "ScheduleExpressionTimezone": "Europe/London",
                  "FlexibleTimeWindow": {
                    "Mode": "OFF"
                  },
                  "State": "ENABLED",
                  "Target": {
                    "Arn": "${TriggerDagsterJobLambda.Arn}",
                    "RoleArn": "${EventBridgeSchedulerExecutionRole.Arn}",
                    "Input.$": "States.JsonToString($)"
                  }
                },
                "ResultPath": "$.schedule",
                "Next": "Success"
              },
              "Success": {
                "Type": "Pass",
                "Parameters": {
                  "message": "Dagster run successfully scheduled",
                  "dataset.$": "$.dataset",
                  "day.$": "$.day",
                  "time.$": "$.time",
                  "timezone": "Europe/London"
                },
                "End": true
              },
              "InvalidInput": {
                "Type": "Fail",
                "Error": "InvalidInput",
                "Cause": "Expected input: {\"dataset\":\"name\",\"day\":\"YYYY-MM-DD\",\"time\":\"HH:mm\"}"
              }
  
            }
          }
